<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= data %>
    <h1>
        titre : 
        <%= data.titre %>
    </h1>
    <p>
        id : <%= data._id %>
    </p>
    <h3>
        Genre :
        <%= data.genre %>
    </h3>
    <h3>
        Nombre de ventes : 
        <%= data.nb_ventes %> places
    </h3>
    <h4>
        <%= data.poster %>
    </h4>

    <form action="/film/delete/<%= data.id%>?_method=DELETE" method="post">

        <input type="hidden" name="_method" value="DELETE">
        <button>Supprimer le film !</button>
    </form>
</body>
</html>